{% extends 'base.html' %}
{% block content %}
    <h1>Home</h1>
    {% if request.user.is_authenticated %}
        <h5>{{ request.user.username }}</h5>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'book-list' %}">Books</a>
        
    {% else %}
        {% comment %} <div>
            <a href="{% url 'accounts:register' %}">Register</a>
        </div> {% endcomment %}
        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>

    {% endif %}
{% endblock %}